<style>body {
    color: #000;
    opacity: .9;
    margin: 1px
  }</style>
<dl>
  <h3>Endava Open Tennis Tournament 2016 Schedule</h3>
  <br/>
  <dt>
    <b>Fri 20 May</b>
  </dt>
  <br/>
  <dd>10:45 - 10:50
    <br/> Opening Ceremony
  </dd>
  <br/>
  <dd>11:00 - 14:00
    <br/> Round 0 (Singles)
  </dd>
  <br/>
  <dd>14:30 - 20:00
      <br/> Round 1 (Singles)
    </dd>
    <br/>
  <dt>
    <b>Sat 21 May</b>
  </dt>
  <br/>
  <dd>10:30 - 12:30
    <br/> Round 2 (Singles)
  </dd>
  <br/>
  <dd>12:30 - 14:00
      <br/> Round 1 (Doubles)
  </dd>
  <br/>
  <dd>14:30 - 17:30
    <br/> Quarterfinals (Singles and Doubles)
  </dd>
  <br/>
  <dt>
    <b>Sun 22 May</b>
  </dt>
  <br/>
  <dd>10:30 - 11:30
    <br/> Semifinals (Singles)
  </dd>
  <br/>
  <dd>12:00 - 14:00
    <br/> Semifinals (Doubles)
  </dd>
  <br/>
  <dd>14:30 - 15:30
    <br/> Finals (Doubles)
  </dd>
  <br/>
  <dd>16:00 - 18:00
    <br/> Finals (Singles)
  </dd>
</dl>
